.container-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 478px;
    width: 322px;

    cursor: pointer;
}

.container-product img {
    width: 322px;
    height: 322px;
    margin-top: 20px;
}

.container-product:hover {
    transform: scale(1.1);
}