header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: url('../../assets/banner.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 491px;
    width: 100%;

    border: 1px solid black;
    border-radius: 0 0 32px 32px;

    text-align: center;
    color: white;

    position: relative;
}

header h1 {
    font-size: 80px;
}

header h2 {
    font-size: 20px;
    margin-bottom: 80px;
}

header img:hover {
    cursor: pointer;
}

.logo {
    width: 160px;
    position: absolute;
    left: 32px;
    bottom: 32px;
}